name: Test
on: push
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: setup Node.js
        uses: actions/setup-node@v6
        with:   
          node-version: 25
      - name: install deps
        run: npm i
      - name: run test
        run: npx vitest run
